missing
ltmain.sh
install-sh
depcomp
libtool
stamp-h1
configure
config.sub
config.h.in~
config.h
config.log
config.status
config.guess
compile
aclocal.m4
autom4te.cache/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
INSTALL
Makefile
test/cert.pem
.deps/
.libs/
*.in
*.la
*.lo
*.o
