missing
ltmain.sh
install-sh
depcomp
libtool
stamp-h1
configure
config.sub
config.h.in~
config.h
config.log
config.status
config.guess
compile
autom4te.cache/
INSTALL
Makefile
.deps/
.libs/
test/ratchet.so
*.m4
*.in
*.la
*.lo
*.o
